body{
    margin: 0;
    padding:0;

}
.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

}
.background-side {
    flex: .8;
    background-image: url(NYC.jpg);
    background-size: cover;
    background-position: center;
    z-index: 10000;
    position: relative;
}
.title {
    position: relative;
    top: 25%;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 13rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
    padding: 6rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
img{
    height: 10rem;
    width: auto;

}

#title-content {
    font-size: 4rem;
    color: white;
    position: relative;
    opacity: 1;
    font-family: cursive,sans-serif,Arial, Helvetica, sans-serif;
}

.form-side{
    flex: 1;
    background-color: black;
    display: flex;
    flex-direction: column;
}
.form-container {
    box-sizing: border-box;
    height: 45%;
    width: 100%;
    background-color: rgb(31, 29, 29);
    box-shadow: 0 0 5em white;
    z-index: 1000;
    display: flex;
    padding-right: 5rem;
    padding-left: 5rem;
    padding-top: 1rem;
}
form {
    box-sizing: border-box;
    height: 20rem;
    width: 100%;
    background-color: rgb(31, 29, 29);
    box-shadow: 0 0 5em rgb(199, 192, 192);
    z-index: 1000;
    display: flex;
    padding-right: 4rem;
    padding-left: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex-direction: column;
    gap: 2rem;  

}
.real-form {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0px;
    gap:1.5rem;
}

.left-footer {
    position: absolute;
    top: 49rem;
    left:22rem;
    color: white;
    font-size: 1em;
}

a:visited{
    color: lightgrey;
}

.first, .last{
    flex:1;
    color: rgb(134, 133, 133);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.one, .two-one, .two, .two-two,.three, .two-three{
    flex:1;
    display: flex;
    flex-direction: column;
    gap: .2rem;
    font-size: .8rem;
    margin: 0px;
}
input {
    background-color: rgb(31, 29, 29);
    outline: .05rem solid lightgrey;
    box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.5);
    border: 0px;
    color: rgb(134, 133, 133);
}
input:focus{
    outline: .1rem solid aqua;
    box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.5);
    color: rgb(134, 133, 133);
}

.submit{  
    position: relative;
    background-color: blueviolet;
    font-weight: bold;
    padding-top: 0px;
    border: 0px;
    height: 6rem;
    width: 30%;
    border-radius: 1rem;
    font-size: 1rem;
    align-self: right;
    outline: none;
    color: lightgrey;
}
.submit:hover {
    position: relative;
    background-color: lightgrey;
    font-weight: bold;
    padding-top: 0px;
    border: 0px;
    height: 6rem;
    width: 30%;
    border-radius: 1rem;
    font-size: 1rem;
    align-self: right;
    outline: none;
    color: blueviolet;
}

h3 {
    margin: 0;
    padding: 0;
    color: rgb(134, 133, 133);
   
}
.top-right-header{
    padding:4rem;
    color: rgb(134, 133, 133);
     font-family: Georgia, 'Times New Roman', Times, serif;
}