body{
    margin: 0;
    padding:0;
    
}
.container {
    display: flex;
    height: 100vh;
    overflow: hidden;

}
.background-side {
    flex: .8;
    background-image: url(NYC.jpg);
    background-size: cover;
    background-position: center;
    z-index: 10000;
    position: relative;
}
.title {
    position: relative;
    top: 25%;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 13rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
    padding: 6rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
img{
    height: 10rem;
    width: auto;

}

#title-content {
    font-size: 3rem;
    color: white;
    position: relative;
    opacity: 1;
    font-family: cursive,sans-serif,Arial, Helvetica, sans-serif;
}

.form-side{
    flex: 1;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-container {
    box-sizing: border-box;
    height: 35%;
    width: 100%;
    background-color: rgb(31, 29, 29);
    box-shadow: 0 0 5em white;
    z-index: 1000;
    display: flex;
    padding-right: 5rem;
    padding-left: 5rem;
    padding-top: 1rem;
}
form {
    box-sizing: border-box;
    height: 25%;
    width: 100%;
    background-color: rgb(31, 29, 29);
    box-shadow: 0 0 5em rgb(199, 192, 192);
    z-index: 1000;
    display: flex;
    padding-right: 4rem;
    padding-left: 4rem;
    padding-top: 1rem;
    gap: 2rem;
}

.left-footer {
    position: relative;
    top: 70%;
    left:50%;
    color: white;
    font-size: 1em;
}

a:visited{
    color: lightgrey;
}

.first, .last{
    flex:1;
    color: rgb(134, 133, 133);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.one, .two-one, .two, .two-two,.three, .two-three{
    flex:1;
    display: flex;
    flex-direction: column;
    gap: .2rem;
    font-size: .8rem;
    margin: 0px;
}
input {
    background-color: rgb(31, 29, 29);
    outline: .05rem solid lightgrey;
    box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.5);
    border: 0px;
}
input:focus{
    outline: .2rem solid aqua;
    box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.5);
}
